/*************************/
/*Colors from coolors.co*/
/*************************/

.ccblue{
    color:#3893C3;
}

.ccred{
    color:#EB5E55;
}
.ccsalmom{
    color: #FAA275;
}

.ccbaby{
    color:#FCFCFC;
}
.ccwhite{
    color:#F0F2EF; 
}

.ccblue-bg{
    background-color:#3893C3;
}

.ccred-bg{
    background-color:#EB5E55;
}
.ccsalmom-bg{
   background-color: #FAA275;
}

.ccbaby-bg{
    background-color:#FCFCFC;
}
.ccwhite-bg{
    background-color:#F0F2EF; 
}

/****************/
/* Nav styling  */
/****************/

nav {
    background-color: #EB5E55;
}

.brand-logo img{
    height: 60px;
}

/****************/
/* Text styling */
/****************/

h4.header {
    color: rgba(0, 0, 0, 0.709804);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

p.caption {
    color: rgba(0, 0, 0, 0.709804);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 18.75px;
    font-weight: 300;
    height: 56px;
    line-height: 28.125px;
    margin-bottom: 30px;
    text-size-adjust: 100%;
    width: 859.838px;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-after: 30px;
    -webkit-margin-before: 18.75px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
}

/*****************************/
/* Question page div styling */
/*****************************/

div.questions {
    margin-top: 40px;

}

/*****************************/
/* queue page div styling */
/*****************************/

.bg-green{
   background-color: rgb(66, 244, 107);
   border-bottom: 1px solid #F0F2EF;
   color: #FCFCFC;
   text-align: center;
}

.bg-red{
    background-color: #ee6e73;
    border-bottom: 1px solid #F0F2EF;
    color: #FCFCFC;
    text-align: center;

}

/*****************************/
/* Login Page styling */
/*****************************/


div.login-form {
    margin-top: 60px !important;
    padding-top: 10px !important;
}

.btn_login,
.btn_login:hover,
.btn_login:visited{
    background-color:#3893C3;
}

a.password-link {
    margin-top: 10px;
}

.sign-up{
    
}
/****************/
/* Tags styling */
/****************/

h5 {
    color: rgba(0, 0, 0, 0.709804);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.col{
    transition: .4s all;
}
.cardRemove{
    position: relative;
}
.confirmDiv{
    transition: .4s all;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    left: 40px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-transform: none;
    overflow: hidden;
    color: black;
    z-index: 10;
    line-height: 30px;
}
.confirmDiv.active{
    height: 75px;
    width: 230px;
    opacity: 1;
}
.confirmDelete, .confirmActive{
    position: absolute;
    width: 211px;
    height: 63px;
    margin: 5px 9px;
}
.confirmDelete a, .confirmActive a{
    transition: .5s all;
    margin: -6px 0 0 5px;
    padding: 0;
    line-height: 28px;
    width: 50px;
    height: 25px;
    color: #FFF;
}